POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=games
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=default
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_HOST=localhost

AIRFLOW_DB=airflow
AIRFLOW_PORT=8080
AIRFLOW_USER=
AIRFLOW_PASSWORD=
AIRFLOW_FERNET_KEY=

SUPERSET_PORT=8088
SUPERSET_USER=
SUPERSET_PASSWORD=
SUPERSET_SECRET_KEY=

ITAD_API_KEY=